<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.ico">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Nico. It use data from weather app</p>
            <img class="portrait" src=".\img\naldo.jpg" />
        </div>
         {{>footer}}

    </body>
</html>